# .env.example
# Copy this file to .env and update the values

SSH_KEY_FILE = "(for locally running computation) <path_to_your_user_folder>/.ssh/id_rsa_localhost"
SSH_LOCAL_ADDR = '(for locally running computation) <your_username>@localhost'
SSH_PUBLIC_KEY_FILE = "<(for admin use only) path_to_the_orchestrator_folder>/static/keys/server_rsa"
SSH_ADDR = '<(for admin use only) empty string>'
SERVER_ADDR = "<url given in the documentation (subject to change)>"